<!DOCTYPE html>
<html>
  <head>
    <title>yelpcamp</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1>landing page</h1>
    <p>welcome!</p>
    <a href="/campgrounds">view all</a>
    <p>hiiiiiiiii</p>
  </body>
</html>
