<h1>create new camp</h1>
<form action="/campgrounds" method="POST">
  <input type="text" name="name" placeholder="enter name" />
  <input type="text" name="image" placeholder="image url" />
  <button>submitt!</button>
</form>
<a href="/campgrounds">go back!</a>
